Build/
lib/
locales/
node_modules/
pnacl/
swiftshader/
chrome_crashpad_handler
chromedriver
credits.html
icudtl.dat
minidump_stackwalk
nacl_helper
nacl_helper_bootstrap
nacl_irt_x86_64.nexe
nw
nw_100_percent.pak
nw_200_percent.pak
nwjc
payload
resources.pak
time.desktop
v8_context_snapshot.bin